* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://github.com/DanielContador/Shiluc/blob/master/img/imagenportada.jpg?raw=true);
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}