
{% extends 'tienda/main.html' %} 
{% load static %} 
    {% block content %}
    <br><br>
    <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					{% csrf_token %}
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Nombre..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
					</div>
					
					<div id="shipping-info">
						<hr>
						<p>Información de envio:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Dirección..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="Ciudad..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="Región..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Código postal..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="País..">
						</div>
					</div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
				<div id="paypal-button-container"></div>
				<!--<button id="make-payment">Realizar pago</button>-->
			</div>
			
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'carrito' %}">&#x2190; Volver al carrito</a>
				<hr>
				<h3>Resumen del pedido</h3>
				<hr>
				{% for item in items%}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.producto.imagenURL}}"></div>
					<div style="flex:2"><p>{{item.producto.nombre}}</p></div>
					<div style="flex:1"><p>{{item.producto.precio}}</p></div>
					<div style="flex:1"><p>{{item.cantidad}}</p></div>
				</div>
			{% endfor %}
				<h5>Productos:   {{orden.get_cart_items}}</h5>
				<h5>Total:   ${{orden.get_cart_total}}</h5>
			</div>
		</div>
	</div>
	<script src="https://www.paypal.com/sdk/js?client-id=AdDktQeRbjRotabihSkb-Z8uApUvlKLyKpV9pHGG0trvVYC8fm4iTtrMfTyZCUgVkKT4AXhxrqeOnxPE&currency=USD"></script>
	<script>
		var total = '{{orden.get_cart_total}}'
		var dolar = ''
		dolar = total/=1000
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: parseFloat(dolar).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    submitFormData()

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }


        }).render('#paypal-button-container');
    </script>
    <script type="text/javascript">
		var shipping = '{{orden.shipping}}'
		

		if (shipping == 'False'){
			document.getElementById('shipping-info').innerHTML=''
		}

		if (user != 'AnonymousUser'){
			document.getElementById('user-info').innerHTML =''
		}

		if (shipping=='False' && user != 'AnonymousUser'){
			//esconder formulario si está logeado y no necesita envio
			document.getElementById('form-wrapper').classList.add("hidden");
			//mostrar ventana de pago si está logeado y no necesita envio
			document.getElementById('payment-info').classList.remove("hidden");
		}



		var form = document.getElementById('form')

		csrftoken = form.getElementsByTagName("input")[0].value
		console.log('Nuevo token: ', form.getElementsByTagName("input")[0].value)
		form.addEventListener('submit', function(e){


			e.preventDefault()
			console.log('formulario enviado...')
			document.getElementById('form-button').classList.add("hidden");
			document.getElementById('payment-info').classList.remove("hidden");
		})

/*
		document.getElementById('make-payment').addEventListener('click', function(e) {
			submitFormData()
		})
		*/
		
		function submitFormData() {
			console.log('Click en boton de pago')
			var total = '{{orden.get_cart_total}}'
			var userFormData = {
				'name': null,
				'email' : null,
				'total': total,
			}

			var shippingInfo = {
				'address': null,
				'city' : null,
				'state': null,
				'zipcode': null,
				'country': null,
			}

			if (shipping != 'False'){
				shippingInfo.address = form.address.value
				shippingInfo.city = form.city.value
				shippingInfo.state = form.state.value
				shippingInfo.zipcode = form.zipcode.value
				shippingInfo.country = form.country.value
			}


			if (user == 'AnonymousUser'){

				userFormData.name = form.name.value
				userFormData.email = form.email.value
			}

			var url = "/process_order/"
			fetch(url,{
				method:'POST',
				headers:{
					'Content-Type':'application/json',
					'X-CSRFToken':csrftoken,
				},
				body:JSON.stringify({'form':userFormData,'shipping':shippingInfo}),

			})
			.then((response) => response.json())
			.then((data) => {
				console.log('Success', data);
				alert('Transacción completada');
				window.location.href="{% url 'tienda' %}"
			})
	}
	</script>


    {% endblock content %}